/* Write your CSS here */
.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d7dfe9;
  padding: 10px 0;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
}
